<div class="container mb-5">
    <h1 class="text-left mt-5" id="movie-title"></h1>
    <div class="row mt-5">
        <div class="col-12 d-flex gap-5 pb-5">
            <img id="movie-img" src="" style="max-height: 550px;">
            <div>
                <p id="movie-description">

                </p>
                <div>
                    <p>Director: <span id="movie-director"></span></p>
                    <p>Duración: <span id="movie-duration"></span></p>
                    <p>Reparto: <span id="movie-casting"></span></p>
                </div>
                <div>
                    <h3 class="pt-5">Sesiones disponibles</h3>
                    <div class="grid-sessions" id="grid-sessions">

                    </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="row mt-5" id="sit-rows" style="display: none;">
    <h1>Selecciona tu asiento</h1>
    <div id="sit-grid" class="sit-grid p-5">

    </div>
    <div class="text-center mt-4 p-2" style="background-color: gray; border-radius: 0px 0px 10px 10px;"><h4 class="m-0">Pantalla</h4></div>

</div>