@import "tailwindcss";


@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-Medium.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #9c8500;
    --color-secondary: #F5F5F5;
    --color-terciary: #8b1515;
    --color-text: #333333;

    --font-sans: 'Figtree', sans-serif !important;
}

@layer {
    [x-cloak] {
        display: none;
    }

    #backgroundVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    #videoOverlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .grid-sessions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .session-time-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
        margin-top: 10px;
    }

    .grid-sessions-card {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .session-date {
        margin-top: 20px;
    }

    .grid-sessions-card p {
        margin: 0 !important;
    }

    .grid-sessions-card:hover {
        background-color: #ddd;
    }

    .sit-grid {
        display: grid;
        gap: 10px;
        justify-content: center;
    }

}